.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}

ul.pagination li{
    padding:0px!important;
    border-color: #fff!important;
}
ul.pagination li.active{
    background-color: #fff!important;
}